.chat-main
  .chat-main__group-info
    .group-info__group
      .group__team-name
        name
      .group__member-name
        masa
    .group-info__edit
      =link_to "#" do
        Edit
  .chat-main__message-list
  .chat-main__message-form