.side-bar{
  width: 300px;
  background-color: #253141;

  &__user-name{
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: center;
    align-items: center;

    .top-items{
      width: 260px;
      height: 20px;
      display: flex;
      justify-content: space-between;

      &__name{
        font-size: 16px;
        color: #ffffff;
      }

      &__icons{
        width: 60px;
        display: flex;
        justify-content: flex-end;
      }

      a {
        text-decoration: none;
      }

       .far{
          text-decoration: none;
          color: #ffffff;
          margin-left: 5px;
       }

       .fas{
         color: #ffffff;
        margin-left: 5px;
       }
    }
  }

  &__group-list{
    height: calc(100vh - 100px);
    background-color: #2f3e51;

    .groups{
      height: 105px;
      padding: 20px 0 40px;

      &__name{
        margin: 0 20px 5px;
        font-size: 15px;
        color: #ffffff;
      }

      &__message{
        font-size: 11px;
        margin: 0 20px 0 20px;
        color: #ffffff;
      }
    }
  }
}
